* {
  font-family: monospace, serif;
  font-size: small;
}
table {
  text-align: center;
  border-collapse: collapse;
  margin-top: 1rem;
}
thead {
  background-color: var(--color-header);
}
tr.odd {
  background-color: #8882;
}
th, td {
  border: 1px solid var(--color-header);
  min-width: 1rem;
}
th:hover {
  background-color: #0ff4;
}
th.checkable:hover {
  background-color: inherit;
}
td.highlight {
  background-color: #ff04;
}
td.highlight span.highlight {
  font-weight: bold;
  color: var(--color-highlight);
}
tr.hide, #searchbox.hide {
  display: none;
}
table + p {
  margin-top: 1.5rem;
}
#searchbox {
  position: sticky;
  position: -webkit-sticky;
  top: 0.3rem;
  background-color: #8cc8;
  width: fit-content;
  margin: 0.3rem;
  padding: 0.5rem;
  border-radius: 0.4rem;
}
#searchbox * {
  vertical-align: bottom;
}
input[type=search] {
  width: 24rem;
  margin-top: 0.3rem;
}
