:root {
  --drag-arrow-color: #f0f;
  --thumbnail-arrow-color: #8f8;
  --panel-border-color: #fff4;
  --enemy-panel-color: #f88;
  --enemy-border-color: #a00;
  --player-panel-color: #88f;
  --player-border-color: #00a;
  --locked-border-color: #80a;
  --tooltip-color: #ffc;
  --tooltip-border-color: #cc9;
}
:root[data-theme="0"].dark,
:root[data-theme="2"] {
  --drag-arrow-color: #a0a;
  --panel-border-color: #fff1;
  --enemy-panel-color: #733;
  --enemy-border-color: #600;
  --player-panel-color: #337;
  --player-border-color: #006;
  --locked-border-color: #406;
  --tooltip-color: #443;
  --tooltip-border-color: #221;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
html:has(dialog[open]){
  overflow: hidden;
}
body {
  font-family: "Courier", monospace;
  font-size: small;
  padding: 0 0.5em;
  & > div {
    margin: 0.5em 0;
    max-width: 450px;
  }
}
#arrow > path {
  fill: var(--drag-arrow-color);
}
#thumbnail-arrow > path {
  fill: var(--thumbnail-arrow-color);
}
label {
  margin-right: 1em;
  & > input[type=checkbox] {
    margin-right: 0.5em;
  }
}
.board {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(6, 1fr);
  -webkit-user-select: none;
  user-select: none;
  aspect-ratio: 5 / 6;
  &.draggable{
    border: 1px solid var(--color);
    font-size: small;
    --border-width: 5px;
    --arrow-color: var(--drag-arrow-color);
    --arrow-marker: url(#arrow);
  }
  &.thumbnail {
    font-size: xx-small;
    --border-width: 1px;
    --arrow-color: var(--thumbnail-arrow-color);
    --arrow-marker: url(#thumbnail-arrow);
  }
  & > .panel {
    position: relative;
    &::before {
      content: attr(data-unit);
      overflow: hidden;
      position: absolute;
      display: block;
      border-radius: var(--border-width);
      border: var(--border-width) solid var(--panel-border-color);
      inset: 1px;
      text-align: center;
      padding: 5%;
    }
    .draggable &[data-weapon]::after {
      content: attr(data-weapon);
      position: absolute;
      display: block;
      border-radius: var(--border-width);
      border: var(--border-width) solid var(--panel-border-color);
      right: 1px;
      bottom: 1px;
      width: calc(50% + 3px);
      height: calc(50% + 3px);
      text-align: center;
      align-content: center;
      padding: 0;
    }
    &.dragging {
      z-index: 10;
      transform: scale(1.2);
      border-radius: var(--border-width);
    }
  }
  & > [data-type=enemy],
  & > [data-type=neutral] {
    background-color: var(--enemy-panel-color);
    &[data-unit] {
      --panel-border-color: var(--enemy-border-color);
    }
  }
  & > [data-type=player],
  &.moving > [data-type=neutral] {
    background-color: var(--player-panel-color);
    &[data-unit] {
      --panel-border-color: var(--player-border-color);
      touch-action: none;
      &.move-locked {
        --panel-border-color: var(--locked-border-color);
      }
    }
  }
  & > [data-type=oob] {
    background-color: #8882;
  }
  & > svg {
    pointer-events: none;
    grid-area: 1 / 1 / 7 / 6;
    z-index: 50;
    opacity: 0.6;
    & > polyline {
      fill: none;
      stroke: var(--arrow-color);
      stroke-width: 2;
      stroke-linecap: round;
      stroke-linejoin: round;
      marker-end: var(--arrow-marker);
      & ~ polyline {
        stroke: #fff8;
        stroke-width: 1;
        stroke-dasharray: 3 12;
        stroke-dashoffset: 60;
        animation: dash 1s linear infinite;
      }
    }
  }
}
.message > span {
  display: inline-block;
  border-radius: 1em;
  padding: 0 0.5em;
  height: 1.5em;
  align-content: center;
  background-color: #8884;
  margin: 0.2em;
}
.flex {
  display: flex;
  overflow: auto;
  gap: 0.5em;
  border: 1px solid var(--color);;
  & > .item {
    width: 40%;
    flex-shrink: 0;
    text-align: center;
  }
}
.total {
  text-align: right;
}
[data-tooltip] {
  position: relative;
  &:hover::after {
    content: "";
    position: absolute;
    display: block;
    left: 50%;
    bottom: calc(100% + 0.5em);
    translate: -50% 50%;
    rotate: 45deg;
    border: 1px var(--tooltip-border-color);
    border-style: none solid solid none;
    background-color: var(--tooltip-color);
    font-size: x-small;
    width: 1em;
    height: 1em;
  }
  &:hover::before {
    content: attr(data-tooltip);
    position: absolute;
    display: block;
    left: 50%;
    bottom: calc(100% + 0.5em);
    translate: -50% 0;
    border: 1px solid var(--tooltip-border-color);
    border-radius: 0.3em;
    padding: 0.3em;
    color: var(--color);
    background-color: var(--tooltip-color);
    font-size: x-small;
    width: max-content;
    max-width: max(calc(100% + 1rem), 8em);
    white-space: pre-wrap;
  }
}
dialog {
  border-radius: 5px;
  border: solid 1px var(--color);
  & > .dialog-container {
    display: grid;
    gap: 0.5em;
    grid-template-columns: auto auto auto auto auto;
    & > * {
      display: grid;
      grid-template-columns: subgrid;
      grid-column: span 5;
      & > span {
        text-align: center;
        align-content: center;
      }
      &:has(button) {
        display: flex;
        grid-template-columns: none;
        justify-content: space-between;
      }
    }
  }
  &::backdrop {
    backdrop-filter: blur(3px);
    background-color: #0028;
  }
}
@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}