:root {
  --drag-arrow-color: #ff00ff;
  --thumbnail-arrow-color: #88ff88;
  --panel-border-color: #ffffff44;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  -webkit-text-size-adjust: 100%;
  font-family: "Courier", monospace;
  font-size: small;
  touch-action: manipulation;
}
#arrow > path {
  fill: var(--drag-arrow-color);
}
#thumbnail-arrow > path {
  fill: var(--thumbnail-arrow-color);
}
.board {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(6, 1fr);
  -webkit-user-select: none;
  user-select: none;
  max-width: 400px;
  aspect-ratio: 5 / 6;
  &.draggable{
    border: 1px solid var(--color);
    margin: 0.5em;
    font-size: small;
    --border-width: 5px;
    --arrow-color: var(--drag-arrow-color);
    --arrow-marker: url(#arrow);
  }
  &.thumbnail {
    margin: 0;
    font-size: xx-small;
    --border-width: 1px;
    --arrow-color: var(--thumbnail-arrow-color);
    --arrow-marker: url(#thumbnail-arrow);
  }
  & > .panel {
    position: relative;
    &::before {
      content: attr(data-unit);
      overflow: hidden;
      position: absolute;
      display: block;
      border-radius: var(--border-width);
      border: var(--border-width) solid var(--panel-border-color);
      inset: 1px;
      text-align: center;
      padding: 5%;
    }
    .draggable &[data-weapon]::after {
      content: attr(data-weapon);
      position: absolute;
      display: block;
      border-radius: var(--border-width);
      border: var(--border-width) solid var(--panel-border-color);
      right: 1px;
      bottom: 1px;
      width: calc(50% + 3px);
      height: calc(50% + 3px);
      text-align: center;
      align-content: center;
      padding: 0;
    }
    &.dragging {
      z-index: 10;
      transform: scale(1.2);
      border-radius: var(--border-width);
    }
  }
  & > [data-type=enemy],
  & > [data-type=neutral] {
    background-color: #ff5555aa;
    &[data-unit] {
      --panel-border-color: #aa0000;
    }
  }
  & > [data-type=player],
  &.moving > [data-type=neutral] {
    background-color: #5555ffaa;
    &[data-unit] {
      --panel-border-color: #0000aa;
      touch-action: none;
    }
  }
  & > [data-type=oob] {
    background-color: #88888822;
  }
  & > svg {
    pointer-events: none;
    grid-area: 1 / 1 / 7 / 6;
    z-index: 50;
    opacity: 0.6;
    & > polyline {
      fill: none;
      stroke: var(--arrow-color);
      stroke-width: 2;
      stroke-linecap: round;
      stroke-linejoin: round;
      marker-end: var(--arrow-marker);
      & ~ polyline {
        stroke: #ffffff88;
        stroke-width: 1;
        stroke-dasharray: 3 12;
        stroke-dashoffset: 60;
        animation: dash 1s linear infinite;
      }
    }
  }
}
label {
  margin-right: 1em;
  & > input[type=checkbox] {
    margin-right: 0.5em;
  }
}
.flex {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  margin: 0.5em;
  gap: 0.5em;
  max-width: 400px;
  border: 1px solid var(--color);;
  & > .item {
    width: 40%;
    flex-shrink: 0;
    text-align: center;
  }
}
dialog {
  border-radius: 5px;
  border: solid 1px var(--color);
  & > .dialog-container {
    display: grid;
    gap: 0.5em;
    grid-template-columns: auto auto auto auto auto;
    & > * {
      display: grid;
      grid-template-columns: subgrid;
      grid-column: span 5;
      & > span {
        text-align: center;
        align-content: center;
      }
      &:has(button) {
        display: block;
        grid-template-columns: none;
        text-align: right;
      }
    }
  }
  &::backdrop {
    backdrop-filter: blur(3px);
    background-color: #00002288;
  }
}
@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}