:root {
  --transition: margin-top, margin-bottom, padding-top, padding-bottom;
  --duration: 0.1s;
}
@media (prefers-reduced-motion: reduce) {
  :root{
    --transition: none;
    --duration: 0;
  }
}
* {
  margin: 0;
  padding: 0;
  font-family: "Courier", monospace;
  font-size: small;
  box-sizing: border-box;
}
fieldset {
  margin: 1rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
}
.panel {
  margin: 0.2rem;
  border: 1px solid black;
  border-radius: 0.5rem;
  background-color: #8884;
}
.titlebar {
  display: flex;
  padding: 0.2rem;
  padding-left: 0.8rem;
  border-radius: 0.5rem 0.5rem 0 0;
  background-color: #6663;
  justify-content: space-between;
  align-items: center;
}
.panel:first-of-type .upbutton {
  visibility: hidden;
}
.content {
  padding: 0.5rem;
}
input[type="number"] {
  padding: revert;
  margin: 0 0.5rem;
  text-align: right;
  width: 5rem;
}
input[list]::-webkit-list-button {
  order: -1;
}
input[type="number"].lv {
  width: 3rem;
}
select {
  padding: revert;
  margin: 0 0.5rem;
}
input[type="button"] {
  padding: revert;
}
.appendpanel input {
  height: 2.2rem;
  width: 2.2rem;
  border-radius: 1.1rem;
}
input[type="checkbox"] {
  margin: 0 0.4rem;
}
button {
  appearance: none;
  margin: 0 0.4rem;
  border: none;
  background-color: transparent;
  font-size: medium;
}
.hidecolor input[type="color"] {
  width: 0;
  height: 0;
  appearance: none;
}
.colorlabel {
  margin-right: 1rem;
}
label {
  display: inline-block;
}
hr {
  margin: 0.3rem;
  transition-property: var(--transition);
  transition-duration: var(--duration);
}
.grid {
  display: grid;
  grid-template-columns: auto auto auto 1fr;
  gap: 0 0.4rem;
}
.grid label {
  align-items: center;
  margin: 0.2rem 0;
  transition-property: var(--transition);
  transition-duration: var(--duration);
}
.grid label.select,
.grid label.number {
  display: grid;
  grid-template-columns: subgrid;
  gap: 0;
  grid-column: 1 / 3;
}
#timeline .grid label.spend,
#timeline .grid label.max {
  grid-column: span 2;
}
.grid label.checkbox {
  grid-column: 3 / 5;
}
.header {
  margin-top: 0.3rem;
  padding: 0.2rem;
  transition-property: var(--transition);
  transition-duration: var(--duration);
}
.footer {
  padding: 0.3rem;
  margin-bottom: 0.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
output {
  margin: 0.5rem;
}
.footer output {
  font-size: medium;
}
span:has(+ :disabled),
input:disabled + span,
.deleted output {
  opacity: 0.5;
}
p {
  margin: 2.5rem 1rem;
}
datalist {
  display: none;
}
.hide label.select,
.hide label.number,
.hide label.checkbox {
  visibility: hidden;
  overflow-y: hidden;
  height: 0;
  margin: 0;
}
.hide label.combo,
.hide label.combo + label {
  visibility: visible;
  overflow-y: revert;
  height: auto;
  margin: 0.2rem 0;
}
.expand input {
  display: none;
}
.expand .plus,
.expand input:checked ~ .minus {
  display: none;
}
.expand .minus,
.expand input:checked ~ .plus {
  display: block;
  font-size: medium;
  font-weight: bold;
}
.titlebar:has(input:checked) ~ :is(.header, .content, hr) {
  visibility: hidden;
  overflow-y: hidden;
  height: 0;
  margin: 0;
  padding: 0;
}
.full {
  color: var(--color-highlight);
}
dialog {
  margin: revert;
  color: var(--color);
  background-color: var(--bgcolor);
  border: 1px solid var(--color);
  border-radius: 0.5rem;
}
dialog::backdrop {
  background-color: #002a;
}
dialog div {
  padding: 0.5rem 1.5rem;
}
dialog .mode {
  padding-bottom: 0;
}
dialog .name,
dialog .storage {
  padding-top: 1rem;
}
.control {
  text-align: right;
}
.control input {
  padding: revert;
  margin-left: 0.5rem;
}
html:has(dialog[open]) {
  overflow: hidden;
}
dialog .mode input {
  appearance: none;
  border: solid 1px transparent;
  border-radius: 1rem;
  background-color: transparent;
  color: var(--color);
  opacity: 0.5;
}
dialog form.new input.new,
dialog form.load input.load {
  border: solid 1px var(--color-link);
  background-color: #8884;
  opacity: 1;
}
dialog form.new .storage,
dialog form.load .name,
dialog form.save .mode,
dialog form.save .name {
  display: none;
}
dialog .name input {
  padding: revert;
  width: 14rem;
}
dialog .storage select {
  width: 16rem;
}
dialog .titlebar {
  background-color: #55b3;
}
dialog .save .titlebar {
  background-color: #b553;
}
