* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: monospace;
}
body {
  background-color: #ccc;
  -webkit-text-size-adjust: 100%;
}
body::before {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  z-index: -1;
  background-image: linear-gradient(#eee, #ccc);
  background-color: #eee;
}
form {
  margin: 0.5rem;
  line-height: 2.5;
}
#o {
  width: 95%;
  max-width: 40rem;
  height: 30rem;
  padding: 0.5rem;
  line-height: 2;
}
button {
  width: 7rem;
  height: 2rem;
  margin: 0 0.5rem;
}
input[type="checkbox"] {
  margin: 0.5rem;
}
.ib {
  display: inline-block;
  margin-right: 1rem;
}