* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  background-color: #cdf;
  -webkit-text-size-adjust: 100%;
  touch-action: manipulation;
}
body::before {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  z-index: -1;
  background-image: linear-gradient(#def, #cdf);
  background-color: #def;
}
form {
  width: 100%;
  max-width: 50rem;
  margin: 0 auto; 
  line-height: 2;
}
label,
caption,
#dl,
#ms {
  text-align: left;
  font-family: "Courier", monospace;
  font-size: small;
}
table {
  margin: 0.2rem 0;
}
* + input[type="button"] {
  margin-left: 0.5rem;
}
input[type="button"] + input[type="button"] {
  margin-left: 0.3rem;
}
select {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding: 0.2rem;
  margin-left: 0.2rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
input[type="text"] {
  padding: 0.2rem;
  margin-left: 0.2rem;
  width: 10rem;
}
input[type="number"] {
  padding: 0.2rem;
  margin-left: 0.2rem;
  text-align: right;
  width: 2.2rem;
}
#a {
  width: 3rem;
}
input[type="checkbox"] {
  margin: 0 0.3rem;
}
textarea {
  width: 100%;
  height: 28rem;
  padding: 0.2rem;
  font-family: "Courier", monospace;
  white-space: pre;
}
#rs,
#cc,
#sr,
#su {
  width: 5.5rem;
  height: 1.8rem;
}
#sl {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
  top: 0;
  right: 0;
  margin: 0.3rem;
  width: 4rem;
  height: 1.4rem;
  background: none transparent;
  border: solid 1px;
  border-radius: 0.4rem;
  font-weight: bold;
}
.sb {
  position: relative;
  display: none;
  padding: 0.3rem;
  background-image: linear-gradient(#bcd, #abd);
  background-color: #bcd;
  border: solid 1px;
  border-radius: 0.2rem;
  margin-left: 0.7rem;
}
.rb {
  position: absolute;
  top: 0.3rem;
  right: 0.3rem;
}
.bs {
  text-align: right;
}
#dl {
  padding: 1rem 0 0.5rem;
  text-align: right;
}
table {
  line-height: 1.5;
}
.ib {
  display: inline-block;
  width: 100%;
  max-width: 25rem;
  vertical-align: top;
}
.sp {
  position: relative;
  padding: 0 0.4rem;
}
#ms {
  line-height: normal;
  color: #666;
  border: solid 1px #666;
  border-radius: 0.2rem;
  background-color: #eee;
  margin: 0.2rem;
  padding: 0.4rem;
}
#un {
  line-height: normal;
  text-align: center;
  font-family: "Courier", monospace;
  font-size: medium;
  font-weight: bold;
  color: #f00;
  border: solid 1px #f00;
  border-radius: 0.2rem;
  background-color: #fddd;
  margin: 0.2rem;
  padding: 0.6rem;
  display: none;
  position: sticky;
  top: 0.2rem;
  z-index: 5;
}
#um {
  margin-right: 1rem;
}
#rc,
#qf {
  width: 12.5rem;
}
fieldset {
  padding: 0 0.2rem;
}
.nm {
  margin-left: -0.7rem;
}
.nm > hr {
  margin-left: 0.7rem;
}
.cb {
  display: inline-block;
  margin-left: 0.7rem;
}
input.ex {
  width: 13.5rem;
  height: 1.3rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
input.ac {
  background-color: #fc8;
}
td:first-child {
  white-space: nowrap;
}
.tag {
  width: 9.5rem;
}
#pc,
#os,
#ds {
  width: 9.5rem;
}
#am {
  width: 8.5rem;
}
